.six-shoes {
    margin-top: 200px;
    margin-bottom: 150px;
}

.six-shoes-text {
    margin-bottom: 100px;
}

.childrens-clogs {
    .six-shoes {
        margin-top: 300px;
        margin-bottom: 300px;
    }
}