.box {
    width: 913px;
    height: 285px;
    border: 10px solid $orange;

    .shoe {
        position: absolute;

        &.tl, &.tm, &.tr {
            top: -75px;
        }
        &.tl, &.bl {
            left: -100px;
        }
        &.tm, &.bm {
            left: 50%;
            transform: translateX(-50%);
        }
        &.tr, &.br {
            right: -100px;
        }
        &.bl, &.bm, &.br {
            bottom: -75px;
        }
    }
}
.childrens-sliders {
    .shoe {
        &.tm {
            top: -100px;
        }
    }
}
.adult-sandals {
    .shoe {
        &.tm {
            top: -105px;
        }
    }
}

.adult-sliders {
    .shoe {
        &.tm {
            top: -80px;
        }
        &.bm {
            bottom: -60px;
        }
    }
}