html {
    overflow-x: hidden;
}
@mixin shadow() {
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, .25)
}
header {
    height: 900px;
    position: relative;
    overflow-y: hidden;
    #logo {
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 1;
    }
    .bg-container {
        height: 100%;
        width: 100%;

        .bg {
            opacity: 0;
            transition: opacity 1s;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &.active {
                opacity: 1;
            }

            &:nth-of-type(1) {
                background-image: url('/images/footwear/banner/Background-1.jpg?984');
            }
            &:nth-of-type(2) {
                background-image: url('/images/footwear/banner/Background-4.jpg?984');
            }
            &:nth-of-type(3) {
                background-image: url('/images/footwear/banner/Background-5.jpg?984');
            }
            &:nth-of-type(4) {
                background-image: url('/images/footwear/banner/Background-6.jpg?984');
            }
            &:nth-of-type(5) {
                background-image: url('/images/footwear/banner/Background-7.jpg?984');
            }
            &:nth-of-type(6) {
                background-image: url('/images/footwear/banner/Background-8.jpg?984');
            }
        }
    }

    .tagline {
        position: absolute;
        bottom: 50px;
        text-align: center;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        p {
            font-size: 18px;
            line-height: 22px;
            &:nth-of-type(2) {
                margin-bottom: 30px;
            }
        }
        .scroll-down {
            background: transparent url('/images/arrowdown.png?crc=3936171844') no-repeat center center;
            width: 35px;
            height: 24px;
            margin: 0 auto;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#hamburger {
    position: fixed;
    width: 94px;
    height: 94px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    right: 10px;
}

section.content {
    position:relative;
    .adult-sliders {
        padding-bottom: 100px;
    }
    &::before, &::after {
        width: 50%;
        height: 100%;
        content: "";
        background-repeat: repeat;
        background-position: center center;
        position:absolute;
        top: 0;
        z-index: -1;
    }
    &::before {
        background-image: url('/images/splitbg-dark.jpg');
        left: 0;
    }
    &::after {
        background-image: url('/images/asphaltbright.jpg');
        left: 50%;
    }
    h2 {
        text-transform: uppercase;
    }
    .text.left {
        margin-left: auto;
        max-width: 75%;
        margin-right: 40px;

        @media screen and (min-width: 1090px) {
            width: 450px;
            margin-right: 60px;
        }

        hr {
            border-bottom: 8px solid orange;
            width: 50px;
            margin-left: 0;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    .image.left {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: -40px;
        display: block;
    }

    .text.right {
        margin-left: 180px;
        @media screen and (min-width: 1090px) {
            width: 350px;
        }
    }

    @import "_title-section";
    @import "_6-shoes";
}