.version.umbrellas {
    color: #0000FC;
    background-color: #AD9299;
}

#pu27550 {
    z-index: 2;
    width: 0.01px;
    margin-left: -847px;
}

#u27550 {
    z-index: 2;
    width: 50px;
    min-height: 25px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 84px;
}

#slideshowu27729 {
    z-index: 7;
    width: 0.01px;
    height: 900px;
    position: relative;
    margin-right: -10000px;
    left: 307px;
}

#u27736 {
    position: absolute;
    width: 1400px;
    height: 900px;
    background-color: transparent;
    left: -5px;
}

#u27736popup {
    z-index: 8;
}

#u27741 {
    z-index: 9;
    width: 1400px;
    height: 900px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
}

#u27737 {
    z-index: 11;
    width: 1400px;
    height: 900px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
}

#u27743 {
    z-index: 13;
    width: 1400px;
    height: 900px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
}

#u27739 {
    z-index: 15;
    width: 1400px;
    height: 900px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
}

#u27745 {
    z-index: 17;
    width: 1400px;
    height: 900px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
}

.SSSlideLoading {
    background: url("/images/loading.gif?crc=3815509949") no-repeat center center;
}

#u27615-5 {
    z-index: 19;
    min-height: 109px;
    background-color: transparent;
    text-align: left;
}

#u27616 {
    margin-top: 29px;
    margin-bottom: -29px;
}

#u27617 {
    z-index: 24;
    width: 52px;
}

.GBlogo {
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
}

#u27617_img {
    vertical-align: bottom;
}

#u27615-5-bw {
    z-index: 19;
    min-height: 109px;
}

#u29634-5 {
    z-index: 299;
    min-height: 109px;
    background-color: transparent;
    text-align: right;
    position: fixed;
    top: 0px;
}

#u29634 {
    font-size: 1px;
    line-height: 0px;
}

#u29636 {
    z-index: 304;
    width: 103px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u29677 {
    z-index: 305;
    display: block;
    vertical-align: top;
    position: relative;
    margin-right: -10000px;
    left: 2px;
}

#pamphletu29637 {
    z-index: 307;
    width: 0.01px;
    height: 94px;
    position: relative;
    margin-right: -10000px;
    margin-top: 8px;
}

#u29675 {
    z-index: 308;
    width: 94px;
    position: relative;
    margin-right: -10000px;
}

#u29676 {
    position: absolute;
    width: 94px;
    height: 94px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u29643 {
    position: absolute;
    width: 1277px;
    border-width: 0px;
    border-color: transparent;
    background-color: #FFFFFF;
    background-color: rgba(255,255,255,0.95);
    padding-bottom: 44px;
    top: 24px;
    left: -2617px;
    -pie-background: rgba(255,255,255,0.95);
}

#u29643popup {
    z-index: 310;
}

#u29644 {
    z-index: 311;
    width: 1233px;
    height: 956px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-right: -10000px;
    position: relative;
    top: 22px;
    left: 22px;
}

#u29653 {
    z-index: 312;
    width: 332px;
    height: 360px;
    position: relative;
    margin-right: -10000px;
    margin-top: 24px;
}

.ie #u29676,.ie #u29653 {
    background-color: #FFFFFF;
    opacity: 0.01;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
}

#u29663-4 {
    z-index: 313;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 198px;
    left: 434px;
}

#u29663-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 198px -10000px 0px 0px;
}

#u29661-4 {
    z-index: 317;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 437px;
    left: 434px;
}

#u29661-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 437px -10000px 0px 0px;
}

#u29667-4 {
    z-index: 321;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 278px;
    left: 434px;
}

#u29667-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 278px -10000px 0px 0px;
}

#u29662-4 {
    z-index: 325;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 675px;
    left: 434px;
}

#u29662-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 675px -10000px 0px 0px;
}

#u29659-4 {
    z-index: 329;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 596px;
    left: 434px;
}

#u29659-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 596px -10000px 0px 0px;
}

#u29648-4 {
    z-index: 333;
    width: 366px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 358px;
    left: 434px;
}

#u29648-4.MuseLinkActive {
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 366px;
    margin: 358px -10000px 0px 0px;
}

#u29648-4.MuseLinkActive p,#u29648-4.MuseLinkActive span {
    color: #646464;
    visibility: inherit;
    letter-spacing: 15px;
}

#u29668-4 {
    z-index: 337;
    width: 401px;
    min-height: 30px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #8C8C8C;
    text-align: left;
    line-height: 31px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 516px;
    left: 434px;
}

#u29668-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 30px;
    width: 401px;
    margin: 516px -10000px 0px 0px;
}

#u29663-4:hover p,#u29663-4:hover span,#u29661-4:hover p,#u29661-4:hover span,#u29667-4:hover p,#u29667-4:hover span,#u29662-4:hover p,#u29662-4:hover span,#u29659-4:hover p,#u29659-4:hover span,#u29668-4:hover p,#u29668-4:hover span {
    color: #646464;
    visibility: inherit;
    letter-spacing: 18px;
}

#u29647 {
    z-index: 341;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 253px;
    left: 434px;
}

#u29669 {
    z-index: 342;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    position: relative;
    margin-right: -10000px;
    margin-top: 333px;
    left: 434px;
}

#u29672 {
    z-index: 343;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 412px;
    left: 434px;
}

#u29660 {
    z-index: 344;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 491px;
    left: 434px;
}

#u29656 {
    z-index: 345;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 571px;
    left: 434px;
}

#u29664 {
    z-index: 346;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 650px;
    left: 434px;
}

#u29645 {
    z-index: 347;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 265px;
    left: 348px;
}

#u29670 {
    z-index: 349;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 345px;
    left: 348px;
}

#u29649 {
    z-index: 351;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 503px;
    left: 348px;
}

#u29665 {
    z-index: 353;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 185px;
    left: 348px;
}

#u29657 {
    z-index: 355;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 583px;
    left: 348px;
}

#u29654 {
    z-index: 357;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 424px;
    left: 348px;
}

#u29651 {
    z-index: 359;
    width: 57px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 662px;
    left: 348px;
}

#u29638 {
    position: absolute;
    width: 43px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    border-style: solid;
    border-width: 1px;
    border-color: #B4B4B4;
    background-color: transparent;
    border-radius: 100px;
    padding-bottom: 11px;
    top: 817px;
    left: -2062px;
}

#u29638:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    border-color: #646464;
    width: 43px;
    min-height: 0px;
    margin: 0px;
}

#u29639-4 {
    z-index: 362;
    width: 20px;
    min-height: 20px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #B4B4B4;
    text-align: center;
    line-height: 20px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 12px;
    left: 12px;
}

#u29639-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 20px;
    width: 20px;
    margin: 12px -10000px 0px 0px;
}

#u29639-4:hover p,#u29639-4:hover span {
    color: #646464;
    visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton {
    cursor: pointer;
}

#u29634-5-bw {
    z-index: 299;
}

#u27659-6 {
    z-index: 85;
    width: 346px;
    min-height: 45px;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    left: -13px;
    top: -142px;
    margin-bottom: -45px;
    position: relative;
}

#u27628 {
    z-index: 84;
    width: 35px;
    height: 24px;
    margin-left: 142px;
    top: -67px;
    margin-bottom: -24px;
    position: relative;
    background: transparent url("/images/arrowdown.png?crc=3936171844") no-repeat center center;
}

#pu27621 {
    z-index: 3;
    width: 0.01px;
    margin-left: -847px;
}

#u27621 {
    z-index: 3;
    width: 700px;
    min-height: 5046px;
    border-width: 0px;
    border-color: transparent;
    color: #828282;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 5696px;
    left: 1007px;
    background: transparent url("/images/asphaltbright.jpg?crc=208243373") repeat center center;
}

#u27710 {
    z-index: 6;
    width: 700px;
    min-height: 5046px;
    border-width: 0px;
    border-color: transparent;
    color: #828282;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 5696px;
    left: 307px;
    background: #383838 url("/images/splitbg-dark.jpg?crc=3992244174") repeat center center;
}

#u27660 {
    z-index: 27;
    width: 700px;
    min-height: 5863px;
    border-width: 0px;
    border-color: transparent;
    color: #828282;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    left: 307px;
    background: #383838 url("/images/splitbg-dark.jpg?crc=3992244174") repeat center center;
}

#u27680 {
    z-index: 28;
    width: 700px;
    min-height: 5863px;
    border-width: 0px;
    border-color: transparent;
    color: #828282;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    left: 1007px;
    background: transparent url("/images/asphaltbright.jpg?crc=208243373") repeat center center;
}

#u27706 {
    z-index: 91;
    width: 449px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 222px;
    left: 496px;
}

#u27704 {
    z-index: 99;
    width: 488px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 1036px;
    left: 509px;
}

#u27718 {
    z-index: 121;
    width: 544px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 3353px;
    left: 430px;
}

#u27622 {
    z-index: 127;
    width: 512px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 5967px;
    left: 448px;
}

#u27633 {
    z-index: 129;
    width: 337px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 6784px;
    left: 545px;
}

#u27649 {
    z-index: 131;
    width: 323px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 7658px;
    left: 559px;
}

#u27720 {
    z-index: 135;
    width: 913px;
    height: 285px;
    border-style: solid;
    border-width: 11px;
    border-color: #B7B7B7;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 9036px;
    left: 540px;
}

#u27765 {
    z-index: 168;
    width: 913px;
    height: 285px;
    border-style: solid;
    border-width: 11px;
    border-color: #B7B7B7;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 10077px;
    left: 540px;
}

#contents {
    position: relative;
    width: 22px;
    margin-right: -10000px;
}

#pu27646 {
    z-index: 4;
    width: 0.01px;
    padding-bottom: 10574px;
    margin-left: -471px;
    margin-top: -10707px;
}

#u27646 {
    z-index: 4;
    width: 480px;
    background-color: transparent;
    position: fixed;
    top: 7012px;
    left: 160px;
}

#u27646_img {
    margin-top: -41px;
}

#u27685-4 {
    z-index: 29;
    width: 352px;
    min-height: 71px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 1901px;
    left: 288px;
}

#u27648-4 {
    z-index: 33;
    width: 223px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 20px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 3585px;
    left: 417px;
}

#u27658-12 {
    z-index: 37;
    width: 385px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 6280px;
    left: 300px;
}

#u27675-3 {
    z-index: 49;
    width: 286px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 6779px;
    left: 354px;
}

#u27641-4 {
    z-index: 52;
    width: 282px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 5444px;
    left: 411px;
}

#u27694 {
    z-index: 56;
    width: 350px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 3950px;
    left: -282px;
}

#u27695-6 {
    z-index: 57;
    width: 350px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27697 {
    z-index: 67;
    width: 49px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 21px;
    position: relative;
}

#u27696-4 {
    z-index: 63;
    width: 349px;
    min-height: 121px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u27669 {
    z-index: 68;
    width: 411px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 6141px;
    left: -302px;
}

#u27671-6 {
    z-index: 69;
    width: 396px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27670 {
    z-index: 83;
    width: 54px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 21px;
    position: relative;
}

#u27672-8 {
    z-index: 75;
    width: 411px;
    min-height: 94px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u27673 {
    z-index: 93;
    width: 621px;
    background-color: transparent;
    position: fixed;
    top: 935px;
    left: -471px;
}

#u27631 {
    z-index: 95;
    width: 676px;
    background-color: transparent;
    position: fixed;
    top: 2776px;
    left: -459px;
}

#u27686 {
    z-index: 97;
    width: 401px;
    background-color: transparent;
    position: fixed;
    top: 2955px;
    left: -285px;
}

#u27656 {
    z-index: 101;
    width: 505px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 1479px;
    left: 224px;
}

#u27613 {
    z-index: 103;
    width: 356px;
    -pie-box-shadow: none;
    box-shadow: 18px 18px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 1141px;
    left: 115px;
}

#u27667 {
    z-index: 105;
    width: 356px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 2809px;
    left: 274px;
}

#u27692 {
    z-index: 107;
    width: 505px;
    -pie-box-shadow: none;
    box-shadow: 18px 18px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 3586px;
    left: -185px;
}

#u27727 {
    z-index: 109;
    width: 384px;
    -pie-box-shadow: none;
    box-shadow: 7px 7px 16px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 5060px;
    left: 46px;
}

#u27629 {
    z-index: 111;
    width: 379px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 4406px;
    left: 261px;
}

#u27712 {
    z-index: 113;
    width: 374px;
    -pie-box-shadow: none;
    box-shadow: 18px 18px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 3980px;
    left: 113px;
}

#u27642 {
    z-index: 115;
    width: 605px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 6534px;
    left: -143px;
}

#u27559 {
    z-index: 117;
    width: 427px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 24px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 7672px;
    left: 213px;
}

#u27559_img {
    margin-right: -36px;
}

#u27606 {
    z-index: 119;
    width: 490px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 9367px;
    left: 112px;
}

#u27698 {
    z-index: 123;
    width: 738px;
    background-color: transparent;
    position: fixed;
    top: 5292px;
    left: -468px;
}

#u27663 {
    z-index: 125;
    width: 417px;
    background-color: transparent;
    position: fixed;
    top: 5520px;
    left: -302px;
}

#u27644 {
    z-index: 133;
    width: 367px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 2051px;
    left: 289px;
}

#u27665 {
    z-index: 136;
    width: 1114px;
    background-color: transparent;
    position: fixed;
    top: 9652px;
    left: -397px;
}

#u27611 {
    z-index: 138;
    width: 446px;
    background-color: transparent;
    position: fixed;
    top: 9790px;
    left: -366px;
}

#u27626 {
    z-index: 140;
    width: 236px;
    background-color: transparent;
    position: fixed;
    top: 9786px;
    left: 165px;
}

#u27637 {
    z-index: 142;
    width: 365px;
    background-color: transparent;
    position: fixed;
    top: 9787px;
    left: 314px;
}

#u27654 {
    z-index: 144;
    width: 250px;
    background-color: transparent;
    position: fixed;
    top: 9787px;
    left: -55px;
}

#u27639 {
    z-index: 146;
    width: 283px;
    -pie-box-shadow: none;
    box-shadow: 18px 18px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 2314px;
    left: 139px;
}

#u27619 {
    z-index: 148;
    width: 288px;
    -pie-box-shadow: none;
    box-shadow: 11px 11px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 5444px;
    left: 94px;
}

#u27725 {
    z-index: 150;
    width: 423px;
    -pie-box-shadow: none;
    box-shadow: 18px 18px 19px rgba(0,0,0,0.1);
    background-color: transparent;
    position: fixed;
    top: 8545px;
    left: 15px;
}

#u27681 {
    z-index: 152;
    width: 396px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 10480px;
    left: -274px;
}

#u27682-6 {
    z-index: 153;
    width: 396px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27684 {
    z-index: 167;
    width: 54px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 21px;
    position: relative;
}

#u27683-8 {
    z-index: 159;
    width: 360px;
    min-height: 94px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u27608 {
    z-index: 169;
    width: 1038px;
    background-color: transparent;
    position: fixed;
    top: 10719px;
    left: -359px;
}

#u27624 {
    z-index: 171;
    width: 286px;
    background-color: transparent;
    position: fixed;
    top: 10827px;
    left: -61px;
}

#u27635 {
    z-index: 173;
    width: 365px;
    background-color: transparent;
    position: fixed;
    top: 10827px;
    left: 322px;
}

#u27651 {
    z-index: 175;
    width: 259px;
    background-color: transparent;
    position: fixed;
    top: 10827px;
    left: 163px;
}

#u27661 {
    z-index: 177;
    width: 437px;
    background-color: transparent;
    position: fixed;
    top: 10827px;
    left: -347px;
}

#u27711-8 {
    z-index: 179;
    width: 297px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 9255px;
    left: 296px;
}

#u27700 {
    z-index: 187;
    width: 378px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 1631px;
    left: -228px;
}

#u27701-6 {
    z-index: 188;
    width: 378px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27703 {
    z-index: 198;
    width: 47px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 24px;
    position: relative;
}

#u27702-4 {
    z-index: 194;
    width: 323px;
    min-height: 47px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 31px;
    position: relative;
}

#u27676 {
    z-index: 199;
    width: 363px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 2534px;
    left: -280px;
}

#u27679-6 {
    z-index: 200;
    width: 271px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 55px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 46px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27678 {
    z-index: 210;
    width: 49px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 14px;
    position: relative;
}

#u27677-4 {
    z-index: 206;
    width: 363px;
    min-height: 62px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 20px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u27721 {
    z-index: 211;
    width: 259px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    padding-bottom: 0px;
    position: fixed;
    top: 5054px;
    left: -253px;
}

#u27723-6 {
    z-index: 212;
    width: 259px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 55px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 46px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u27724 {
    z-index: 224;
    width: 49px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 20px;
    position: relative;
}

#u27722-6 {
    z-index: 218;
    width: 253px;
    min-height: 69px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u30087 {
    z-index: 367;
    width: 396px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 9260px;
    left: -334px;
}

#u30090-6 {
    z-index: 368;
    width: 396px;
    min-height: 48px;
    background-color: transparent;
    color: #B7B7B7;
    line-height: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: raleway, sans-serif;
    font-weight: 800;
    position: relative;
}

#u30088 {
    z-index: 382;
    width: 54px;
    height: 6px;
    background-color: #B7B7B7;
    margin-left: 2px;
    margin-top: 21px;
    position: relative;
}

#u30089-8 {
    z-index: 374;
    width: 360px;
    min-height: 94px;
    background-color: transparent;
    color: #FFFFFF;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    margin-top: 30px;
    position: relative;
}

#u30099-4 {
    z-index: 383;
    width: 237px;
    min-height: 58px;
    background-color: transparent;
    color: #8C8C8C;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: fixed;
    top: 10573px;
    left: 300px;
}

#u27653 {
    z-index: 225;
    height: 211px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u27653-bw {
    z-index: 225;
    height: 332px;
}

#pu28280 {
    z-index: 227;
    width: 0.01px;
    margin-left: -321px;
}

#u28280 {
    z-index: 227;
    min-height: 387.5826679649472px;
    padding-bottom: 0px;
    background: #000000 url("/images/footerumbrella.jpg?crc=3788718255") no-repeat center center;
    background-size: cover;
}

#u28280_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 320px;
}

#u28280_position_content {
    padding-top: 30px;
    padding-bottom: 14px;
    width: 100%;
}

#u28284 {
    z-index: 231;
    width: 34px;
    background-color: transparent;
    left: 142px;
    position: relative;
}

#u28281 {
    z-index: 228;
    width: 960px;
    height: 1px;
    background-color: #FFFFFF;
    left: -321px;
    margin-top: 29px;
    position: relative;
}

#pu29141-4 {
    z-index: 291;
    width: 0.01px;
    left: 53px;
    margin-top: 13px;
    position: relative;
}

#u29141-4 {
    z-index: 291;
    width: 124px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
}

#u29142-4 {
    z-index: 295;
    width: 139px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    left: 155px;
}

#u29142-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 139px;
    margin: 0px -10000px 0px 0px;
}

#u29139-4 {
    z-index: 283;
    width: 140px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    left: 324px;
}

#u29139-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 140px;
    margin: 0px -10000px 0px 0px;
}

#u29137-4 {
    z-index: 275;
    width: 101px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    left: 486px;
}

#u29137-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 101px;
    margin: 0px -10000px 0px 0px;
}

#u28283 {
    z-index: 230;
    width: 960px;
    height: 1px;
    background-color: #FFFFFF;
    left: -321px;
    margin-top: 12px;
    position: relative;
}

#ppu28300 {
    z-index: 0;
    width: 0.01px;
    left: 19px;
    margin-top: 49px;
    position: relative;
}

#pu28300 {
    z-index: 268;
    width: 0.01px;
    margin-right: -10000px;
}

#u28300 {
    z-index: 268;
    width: 35px;
    height: 35px;
    position: relative;
    background: transparent url("/images/grant%20barnett%20-%20phone%20icon-03.png?crc=137599584") no-repeat center center;
    background-size: contain;
}

#u28300:hover {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 0px;
    background-size: contain;
}

#u28300:active {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 0px;
    background-size: contain;
}

#u28302 {
    z-index: 270;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    position: relative;
    background: transparent url("/images/grant%20barnett%20-%20site%20icon-04.png?crc=122236845") no-repeat center center;
    background-size: contain;
}

#u28302:hover {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 20px 0px 0px;
    background-size: contain;
}

#u28302:active {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 20px 0px 0px;
    background-size: contain;
}

#ppu28297-4 {
    z-index: 0;
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 55px;
}

#pu28297-4 {
    z-index: 252;
    width: 0.01px;
}

#u28297-4 {
    z-index: 252;
    width: 199px;
    min-height: 26px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 4px;
}

#u28301 {
    z-index: 269;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: -10000px;
    left: 257px;
    background: transparent url("/images/grant%20barnett%20-%20address%20icon-05.png?crc=381904873") no-repeat center center;
    background-size: contain;
}

#u28301:hover {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
    background-size: contain;
}

#u28301:active {
    background-repeat: no-repeat;
    background-position: center center;
    width: 35px;
    height: 35px;
    min-height: 0px;
    margin: 0px -10000px 0px 0px;
    background-size: contain;
}

#u28298-4 {
    z-index: 256;
    width: 268px;
    min-height: 19px;
    background-color: transparent;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-top: 28px;
    position: relative;
}

#u28299-8 {
    z-index: 260;
    width: 254px;
    min-height: 77px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 4px;
    left: 367px;
}

#u28282 {
    z-index: 229;
    width: 960px;
    height: 1px;
    background-color: #FFFFFF;
    left: -321px;
    margin-top: 53px;
    position: relative;
}

#pu28296-4 {
    z-index: 248;
    width: 0.01px;
    left: 403px;
    margin-top: 13px;
    position: relative;
}

#u28296-4 {
    z-index: 248;
    width: 107px;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    text-align: right;
    font-size: 10px;
    line-height: 17px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
}

#u28295-4 {
    z-index: 244;
    width: 107px;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    text-align: right;
    font-size: 10px;
    line-height: 17px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    left: 129px;
}

#u28280-bw {
    z-index: 227;
    min-height: 387.5826679649472px;
}

#u28293-7 {
    z-index: 233;
    width: 277px;
    min-height: 101px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 195px;
    left: 18px;
}

#u28294-4 {
    z-index: 240;
    width: 432px;
    min-height: 18px;
    background-color: transparent;
    color: #FFFFFF;
    text-align: left;
    font-size: 10px;
    line-height: 17px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 356px;
}

#u29136-4 {
    z-index: 271;
    width: 74px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 118px;
}

#u29136-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 74px;
    margin: 118px -10000px 0px 0px;
}

#u29138-4 {
    z-index: 279;
    width: 107px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 118px;
    left: 103px;
}

#u29138-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 107px;
    margin: 118px -10000px 0px 0px;
}

#u29140-4 {
    z-index: 287;
    width: 96px;
    min-height: 19px;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    transition-delay: 0s;
    background-image: url("/images/blank.gif?crc=4208392903");
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 118px;
    left: 244px;
}

#u29140-4:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 19px;
    width: 96px;
    margin: 118px -10000px 0px 0px;
}

a.contact-link, a.contact-link:visited {
    color: white;
    text-decoration: none;
}