#navigation-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity .5s;
    z-index:-1;
    &.active {
        opacity: 1;
        z-index: 100001;
    }
}

#footwearlink-icon {
    width: 57px;
    margin-right: -100000px;
    left: 348px;
    margin-top: 742px;
    position: relative;
}

#footwearlink {
    z-index: 344;
    width: 401px;
    min-height: 30px;
    transition-duration: 0s;
    transition-delay: 0s;
    color: #8C8C8C;
    text-align: left;
    letter-spacing: 15px;
    text-transform: uppercase;
    line-height: 31px;
    font-size: 26px;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 755px;
    left: 434px;

    &:hover {
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease;
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: 30px;
        width: 366px;
        margin-bottom: 0;
        margin-left: 0;

        span {
            color: #646464;
            visibility: inherit;
            letter-spacing: 18px;
        }
    }
}

#footwearlink-frame-thing {
    z-index: 353;
    width: 366px;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    position: relative;
    margin-right: -10000px;
    margin-top: 730px;
    left: 434px;
}
