#u27653 {
    overflow: hidden;
}

#u27653 .scroll-mode-panoramic .bxslider {
    display: none;
}

#u27653 .scroll-mode-standard .panoramic-image {
    display: none;
}

#u27653 .scroller-list-item {
    height: 211px;
    background-size: cover;
}
#u27653 .panoramic-image {
    background-image: url('/images/footwear/AllShoes.jpg');
    background-position: center;
    background-repeat: repeat-x;
    height: 211px;
    width: 100%;
    display: block;
    content: '';
}
#u27653 .scroller-list-item.item-1 {
    background-image: url("/images/footwear/ALLSHOES1.jpg");
}

#u27653 .scroller-list-item.item-2 {
    background-image: url("/images/footwear/ALLSHOES2.jpg");
}

#u27653 .scroller-list-item.item-3 {
    background-image: url("/images/footwear/ALLSHOES3.jpg");
}
#u27653 .scroller-list-item.item-1.bx-clone {
    background-image: url("/images/footwear/ALLSHOES4.jpg");
}

#u27653 .scroller-list-item.item-2.bx-clone {
    background-image: url("/images/footwear/ALLSHOES5.jpg");
}

#u27653 .scroller-list-item.item-3.bx-clone {
    background-image: url("/images/footwear/ALLSHOES6.jpg");
}

.u27653-content {
    bottom: 0;
    padding: 40px 40px;
    position: absolute;
    right: 10%;
    top: 0;
    width: 300px;
    z-index: 3;
    background-color: rgba(0,0,0, 0.50);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .u27653-content {
        right: 50%;
        margin-right: -40%;
        width: 80%;
    }
}

.u27653-content.panel-false {
    display: none;
}

.u27653-title, .u27653-desc {
    position: relative;
    z-index: 2;
}

.u27653-title {
    color: #FFFFFF;
    font-size: 40px;
    font-family: Open Sans, Arial, sans-serif;
    line-height: 1;
    margin-bottom: 1rem;
}

.u27653-desc {
    color: #FFFFFF;
    font-size: 20px;
    font-family: Open Sans, Arial, sans-serif;
    line-height: 1.5;
}
