html {
    min-height: 100%;
    min-width: 100%;
    -ms-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    background-repeat: no-repeat;
}

.transition {
    -webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
    transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
}

.transition * {
    -webkit-transition: inherit;
    transition: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

fieldset,img {
    border: 0px;
    border-style: solid;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,th {
    text-align: left;
}

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

body {
    text-align: left;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

a:link {
    color: #0000FF;
    text-decoration: underline;
}

a:visited {
    color: #800080;
    text-decoration: underline;
}

a:hover {
    color: #0000FF;
    text-decoration: underline;
}

a:active {
    color: #EE0000;
    text-decoration: underline;
}

a.nontext {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.Footer-Contact-Link a {
    color: inherit;
    text-decoration: inherit;
}

.Footer-Contact-Link a:link {
    color: #FFFFFF;
    text-decoration: underline;
}

.Footer-Contact-Link a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

.Footer-Contact-Link a:hover {
    color: #B8B8B8;
    text-decoration: underline;
}

.Footer-Contact-Link a:active {
    color: #FFFFFF;
    text-decoration: underline;
}

.normal_text {
    color: #000000;
    direction: ltr;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    vertical-align: 0px;
    padding: 0px;
}

.Fluid-Gallery-Buttons1 {
    color: #848484;
    font-family: open-sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0px;
}

.p---Body-Copy {
    font-family: museo-sans-rounded, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px;
}

.p---Button-Text {
    font-family: museo-sans-rounded, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    padding: 0px;
}

.h1---Section-Title {
    font-family: museo-sans-rounded, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    padding: 0px;
}

.h1---Headline {
    font-family: museo-sans-rounded, sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0px;
}

.Main_Text {
    color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 1px;
}

.Secondary_Text {
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 1px;
}

.list0 li:before {
    position: absolute;
    right: 100%;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.rtl-list li:before {
    right: auto;
    left: 100%;
}

.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before {
    margin-right: 6px;
    content: '•';
}

.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before {
    margin-right: 6px;
    content: '○';
}

.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8 {
    padding-left: 34px;
}

.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list {
    padding-left: 0px;
    padding-right: 34px;
}

.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before {
    margin-right: 6px;
    content: '-';
}

.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before {
    margin-right: 0px;
    margin-left: 6px;
}

.TabbedPanelsTab {
    white-space: nowrap;
}

.MenuBar .MenuBarView,.MenuBar .SubMenuView {
    display: block;
    list-style: none;
}

.MenuBar .SubMenu {
    display: none;
    position: absolute;
}

.NoWrap {
    white-space: nowrap;
    word-wrap: normal;
}

.rootelem {
    margin-left: auto;
    margin-right: auto;
}

.colelem {
    display: inline;
    float: left;
    clear: both;
}

.clearfix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

*:first-child+html .clearfix {
    zoom:1;}

.clip_frame {
    overflow: hidden;
}

.popup_anchor {
    position: relative;
    width: 0px;
    height: 0px;
}

.popup_element {
    z-index: 100000;
}

.svg {
    display: block;
    vertical-align: top;
}

span.wrap {
    content: '';
    clear: left;
    display: block;
}

span.actAsInlineDiv {
    display: inline-block;
}

.position_content,.excludeFromNormalFlow {
    float: left;
}

.preload_images {
    position: absolute;
    overflow: hidden;
    left: -9999px;
    top: -9999px;
    height: 1px;
    width: 1px;
}

.preload {
    height: 1px;
    width: 1px;
}

.animateStates {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

[data-whatinput="mouse"] *:focus,[data-whatinput="touch"] *:focus,input:focus,textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.fld-prompt {
    pointer-events: none;
}

.wrapped-input {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    border: none;
}

.submit-btn {
    z-index: 50000;
    cursor: pointer;
}

.anchor_item {
    width: 22px;
    height: 18px;
}

.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block {
    display: block;
}

.widget_invisible,.js .invi,.js .mse_pre_init {
    visibility: hidden;
}

.ose_ei {
    visibility: hidden;
    z-index: 0;
}

.no_vert_scroll {
    overflow-y: hidden;
}

.always_vert_scroll {
    overflow-y: scroll;
}

.always_horz_scroll {
    overflow-x: scroll;
}

.fullscreen {
    overflow: hidden;
    left: 0px;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.fullwidth {
    position: absolute;
}

.borderbox {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll_wrapper {
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.browser_width > * {
    position: absolute;
    left: 0px;
    right: 0px;
}

.grpelem,.accordion_wrapper {
    display: inline;
    float: left;
}

.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio] {
    position: absolute;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
}

.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label {
    display: inline-block;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 100%;
}

.pointer_cursor,.fld-recaptcha-mode,.fld-recaptcha-refresh,.fld-recaptcha-help {
    cursor: pointer;
}

p,h1,h2,h3,h4,h5,h6,ol,ul,span.actAsPara {
    max-height: 1000000px;
}

.superscript {
    vertical-align: super;
    font-size: 66%;
    line-height: 0px;
}

.subscript {
    vertical-align: sub;
    font-size: 66%;
    line-height: 0px;
}

.horizontalSlideShow {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.verticalSlideShow {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.colelem100,.verticalspacer {
    clear: both;
}

.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img,.css_verticalspacer .verticalspacer {
    position: relative;
}

.popup_element.Inactive,.js .disn,.js .an_invi,.hidden,.breakpoint {
    display: none;
}

#muse_css_mq {
    position: absolute;
    display: none;
    background-color: #FFFFFE;
}

.fluid_height_spacer {
    width: 0.01px;
}

.muse_check_css {
    display: none;
    position: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    body {
        text-rendering:auto;
    }
}
