.title-section {
    margin-top: 100px;
}

.title-falling {
    img {
        position: absolute;
    }
    .fall-1 {
        @include shadow();
        top: 0;
        left: 200px;
        @media screen and (min-width: 1450px) {
            left: 200px;
        }
    }
    .fall-2 {
        @include shadow();
        top: 330px;
        left: -60px;
    }
    .fall-3 {
        left: 110px;
        top: 520px;
        @media screen and (min-width: 1325px) {
            left: 200px;
        }
    }
    .fall-4 {
        top: 500px;
        left: 200px;
        @media screen and (min-width: 1450px) {
            left: 400px;
        }
    }
}
.title-optional {
    height: 350px;
    margin-top: 100px;
    margin-bottom: 70px;

    .text {
        top: 150px;
    }

    img {
        position: absolute;
        &.opt-img-1 {
            top: 0;
            right: 0;
            @media screen and (min-width: 1280px) {
                right: 150px;
            }
        }

        &.opt-img-2 {
            @include shadow();
            right: -140px;
            top: 80px;
        }
    }
}
.adult-sandals {
    .title-section {
        .product-1 {
            position: relative;
            top: -130px;
        }
    }
}
.adult-sliders {
    .title-section {
        .title-falling {
            margin-top: 100px;
            .fall-1 {
                top: 70px;
            }
            .fall-3 {
                top: 770px;
            }
        }
    }
    .title-optional {
        img.img-opt-2 {
            top: 40px;
        }
    }
}
.childrens-clogs {
    .pre-title {
        margin-top: 0;
        .pre-left-product {
            margin-bottom: -80px;
            margin-left: 0;
            margin-right: auto;
            max-width: 100%;
            height: auto;
            @media screen and (min-width: 1080px) {
                display: block;
                margin-left: auto;
                margin-right: 100px;
            }
        }
        .pre-title-falling {
            img {
                &.prt-fall-2 {
                    left:40px;
                }

            }

        }
    }
    .title-section {
        margin-bottom: 150px;
        margin-top: 50px;

        .optional-image {
            @include shadow();
            margin-top: 100px;
        }
    }
    .title-falling {
        .fall-1 {
            top: 300px;
        }
        .fall-2 {
            box-shadow: none;
            top: 300px;
            left: -25px;
        }
        .fall-3 {
            top: 620px;
            left: -20px;
        }
    }
}
.childrens-sliders {
    .title-falling {
        .fall-1 {
            top: 500px;
            left: 50px;
        }
        .fall-2 {
            top: 400px;
        }
        .fall-3 {
            top: 100px;
            left: 180px;
            z-index: 2;
            @media screen and (min-width: 1280px) {
                left: 350px
            }
        }
        .fall-4 {
            top: 750px;
        }
    }
    .title-optional {
        height: 600px;
        .opt-img-1 {
            position: relative;
            top: 100px;
            left: 0;
            margin-left: auto;
            margin-right: 400px;
            display: block;
            @media screen and (min-width: 1420px) {
                top: 190px;
            }
        }
        .opt-img-2 {
            left: 100px;
        }
        .alt-layout-img {
            right: -150px;
            top: -40px;
            z-index: 1;
        }
    }
}

.pre-title {
    margin-top:300px;
    margin-bottom: 200px;

    .pre-title-falling {
        img {
            position: absolute;
            &.prt-fall-1 {
                top: 0;
                left: 200px;
                @media screen and (min-width: 1440px) {
                    left: 350px;
                }
            }
            &.prt-fall-2 {
                top: 250px;
                @include shadow();
            }
        }
    }
}

.childrens-clogs .pre-title {
    margin-bottom: 0;
}