//text colour utilties, generates .txt-{colour-name} for every colour in the colours list in _variables.scss
@each $colour, $value in $colours {
    .txt-#{$colour} {
        color: #{$value} !important;
    }
}

h2 {
    font-size: 40px;
}

body {
    font-family: raleway;
    font-weight: 300;
    line-height: 24px;
}

h1, h2, h3, h4, h5 {
    font-family: raleway;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 48px;
}